*{
  margin: 0;
  padding: 0;
  border: 0;
}
h1{
    background-position: center;
    background-image:url(../imagens/backgroundimage.jpg);
    text-align: center;
    color: blueviolet;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    color: white;
    font-size: 18px;
}

body{
    background-color: #333;
}
img{
width: 200px;
}
p{
    color: white;
    font-size: 14px;
}
button{
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    border:solid 2px black;
}

.navbar {
    overflow: hidden;
    background-color: rgb(255, 251, 251);
    position: fixed;
    top: 0; 
    width: 100%; 
    padding: 0%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .navbar a:hover {
    background: rgb(131, 9, 125);
    color: rgb(189, 68, 245);
  }
  
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
